@model IEnumerable<string>
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 1)
{
    <div class="row toprow">
        <div class="col-md-12">
            <a href="https://voat.co/submit?linkpost=true&url=http://www.veuwer.com/@(HttpContext.Current.Request.Url.AbsoluteUri)">Submit gallery to Voat</a>
        </div>
    </div>
}
@foreach (var img in Model)
{
    <div class="row toprow">
        <div class="col-md-9">
            <a href="/@(img).png">
                <img src="/@(img).png" class="userimage" />
            </a>
        </div>
        <div class="col-md-3">
            <a href="https://voat.co/submit?linkpost=true&url=http://www.veuwer.com/@(img).png">Submit to Voat</a><br /><br />
            <label for="imagelink">Link</label>
            <input type="text" class="form-control input-sm imagelink" value="http://www.veuwer.com/i/@(img)" readonly />
            <label for="imagelink">Direct link</label>
            <input type="text" class="form-control input-sm imagelink" value="http://www.veuwer.com/@(img).png" readonly />
        </div>
    </div>
    
    if (img != Model.Last())
    {
        <hr />
    }
}

@Scripts.Render("~/bundles/main/images")