@{
    ViewBag.Title = "Home Page";
}

<div class="row toprow">
    <div class="col-md-12">
        <h4>Nothing you upload is private. At least not yet.</h4>
        <small>Supported file types:</small> <strong>jpg, png, gif</strong><br />
        <small>Max file size:</small> <strong>10 MiB</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <input id="filestreams" type="file" accept="image/*" multiple />
        <label id="filestreams-label" class="btn btn-primary btn-block btn-sm" for="filestreams">Choose files</label>
        <input id="urlinput" type="text" class="form-control btn-block input-sm" placeholder="Paste urls" />
        <a href="#" class="btn btn-success btn-block btn-sm" id="fileupload" disabled>Upload</a>

        <div id="uploaderror"></div>
    </div>

    <div class="col-md-10" id="filelist"></div>
</div>

@Scripts.Render("~/bundles/main/index")
