body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type="file"] {
    display: none;
}

.userimage {
    max-width: 100%;
}

.toprow {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fileentry {
    background: #333;
    border: 1px solid #383838;
    padding: 8px 0;
    border-collapse: collapse;
}

#uploadprog {
    display: none;
}

#uploaderror {
    display: none;
}