<div class="row toprow">
    <div class="col-md-12">
        <p>
            May 2015<br />
            ---<br />
            $42 prepaid for 6 months of hosting. (Most won't be used because of changing plans.)<br />
            No takedown requests.<br />
            No requests for user information.
            No gag orders, National Security Letters, orders under the Foreign Intelligence Surveillance Act, or any other classified requests for user information.
        </p>
    </div>
</div>